// => go to https://console.firebase.google.com/u/0/project/my-project/overview?hl=pt-br 
// => click on add firebase to my web application (or the </> button)
// => copy what is inside config and put it on firebaseConfig
const firebaseConfig = {
  // put here your firebase api codes
};

export default firebaseConfig;
